body {
  padding: 0;
  margin:0;
  width: 100%;
  font-family: 'Lato', myriad pro, arial;
  font-weight: 300;
  letter-spacing: .05em;
  overflow-y:display; 
}

.left_bar {
  width: 14%;
  height: 100vh;
  float: left;
  background: #14141F;
  color: #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  font-size: .9em;
}

#icon_box {
  width: 100%;
  height:50px;
  color: white;
  border-bottom: 1px solid #404046;
   -webkit-transition: background .1s ease-in;
  -moz-transition: background .1s ease-in;
  -o-transition: background .1s ease-in;
  transition: background .1s ease-in;
}

#tab {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #404046;
   -webkit-transition: background .1s ease-in;
  -moz-transition: background .1s ease-in;
  -o-transition: background .1s ease-in;
  transition: background .1s ease-in;
}

#tab:hover , #icon_box:hover{
  background: orange;
  color: white;
}

.right_bar {
  width: 14%;
  height: 100vh;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  background: #14141F;
  color: #999999;
  font-size: .8em;
  letter-spacing: .1em;
}

#philo_box {
  width: 100%;
  background: #FF4D4D;
  color: white;
  padding-top: .8em;
  padding-bottom: .8em;
}

#blurb {
  width: 100%;
  border-bottom: 1px solid #404046;
  padding-top: .8em;
  padding-bottom: .8em;
}

#text {
  width: 85%;
  position: relative;
  left: .8em;
  
  
}

a {
  text-decoration: none;
  color: orange;
   
}



.content {
  font-weight: 500;
}

.left_bar a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-transition: font-size .3s ease-in;
  -moz-transition: font-size .3s ease-in;
  -o-transition: font-size .3s ease-in;
  transition: font-size .3s ease-in;
}

.left_bar a:hover {
  font-size:1.2em;
}


span#linker {
  position:relative;
  left: 1.1em;
  top: 1.5em;
}

#fake-linker  {
  position:relative;
  left: 1.4em;
  top: 1.7em;
}

.content_wrapper {
  width: 72%;
  float: left;
  margin-left: 14%;
  background: white;
  position:relative;
}

.content {
  width: 100%;
  margin: auto;
  margin-left: 0%;
  position:relative;
}



/*Panel style*/
.panel {
 overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  -webkit-opacity:0;
  -o-opacity:0;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  
  z-index: 2;
  width:95%;
  padding-left: 5%;
 color: #999999;
 
 letter-spacing:.05em;
 font-size:1.2em;
 padding-bottom: 1em;
 position: absolute; 
 z-index:3;
 
}

.panel-content {
  width:95%;
  margin-left:2%;
}

.panel:target {
  opacity: 1;
  background: white;
  z-index: 8;
  height: auto;
}



.hero_title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight:500;
  color: grey;
}
.go_link {
  float: right;
}

.description {
  width: 95%;
  margin-bottom: 1em;
  
}
.box img {
  width: 100%;
}

#box30 {
  width: 30%;
  float: left;
  margin-right: 3%;
}

#box50 {
  width: 47%;
  float: left;
  margin-right: 3%;
}

#box70 {
   width: 70%;
  margin-right: 3%;
}

#box100 {
  width: 95%;
}

a {
  opacity: 1;
}

#odysey {
  background:url('images/starrysky_ult.jpg') fixed;
  background-size: 100%;
  font-weight: 300;
  font-size:1.5em;
}
#home {
	color: #181818;
	background: green;
	padding-left: 0px;
	width: 100%;
	background: #00000A;
	
	padding-bottom: 2em;
}

.home-content {
  margin-top: 1em;
  margin-left: 5%;
  width: 92%;
  font-size:1.2em;
  font-weight: 300;
  color: #999999;
  text-align: center;
  
}

#bookmark {
  background:url('images/blue-warm.jpg');
  
  width:96%;
  padding: 2%;
  padding-top: 9%;
  padding-bottom: 9%;
 
}

#profile-pic {
  width: 12em;
  height: 12em;
  overflow: hidden;
  border-radius: 6em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  
}

#profile-pic img {
  width: 100%;
}

#ital-red {
  font-family: 'Times New Roman', Century;
  font-size:1.7em;
  font-style:italic;
  color: #ff3300;
}

#ital-grey {
  font-family: 'Times New Roman', Century;
  font-size:1.7em;
  font-style:italic;
  color:#333333;
}

#hero-text {
  font-size: 2em;
  color: #ff3300;
  font-weight: 500;
  margin-top: 1em;
}

#big-yellow {
  color: yellow;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing:.1em;
}